!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Resistor Software <=> Related Products Application
    %meta{'http-equiv' => 'Content-Type', 'content' => "text/html;charset=UTF-8"}
    %script{:src => "http://cdn.jquerytools.org/1.2.2/jquery.tools.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Inconsolata"}
  %body
    #root
      .two-col
        #header
          %h1 Resistor Software <=> Related Products Application
        =yield
      #root_footer  
    #footer &copy; 2010 Resistor Software

